*, :root {
    --global-hue: var(--system-hue);
    --global-saturation: var(--system-saturation);
    --global-lightness: var(--system-lightness);
    --global-accent-color: hsl(var(--global-hue), var(--global-saturation), var(--global-lightness));
    --global-accent-color-dark: hsl(var(--global-hue), var(--global-saturation), calc(var(--global-lightness) - 5%));
    --global-accent-color-darker: hsl(var(--global-hue), var(--global-saturation), calc(var(--global-lightness) - 10%));

    --in-content-primary-button-background: var(--global-accent-color) !important;
    --in-content-primary-button-background-hover: var(--global-accent-color-dark) !important;
    --in-content-primary-button-background-active: var(--global-accent-color-darker) !important;
    --panel-banner-item-update-supported-bgcolor: var(--global-accent-color) !important;
    --lwt-brighttext-url-color: var(--global-accent-color) !important;

    --in-content-background-color: black !important;
    --in-content-page-background: var(--in-content-background-color) !important;
    --focus-outline-color: var(--global-accent-color) !important;

    --toggle-background-color-pressed: var(--global-accent-color) !important;
    --toggle-background-color-pressed-hover: var(--global-accent-color-dark) !important;
}

a, :link {
    color: var(--global-accent-color) !important;
}

::selection {
    background: var(--global-accent-color) !important;
}

* {
    accent-color: var(--global-accent-color) !important;
}

/* Scrollbars */
* {
    scrollbar-color: transparent transparent !important;
}
*:hover {
    scrollbar-color: var(--global-accent-color) transparent !important;
}
