:root {
    --global-hue: var(--system-hue);
    --global-saturation: var(--system-saturation);
    --global-lightness: var(--system-lightness);
    --global-accent-color: hsl(var(--global-hue), var(--global-saturation), var(--global-lightness));
    --global-accent-color-dark: hsl(var(--global-hue), var(--global-saturation), calc(var(--global-lightness) - 5%));
    --global-accent-color-darker: hsl(var(--global-hue), var(--global-saturation), calc(var(--global-lightness) - 10%));
}

a, :link {
    color: var(--global-accent-color) !important;
}

::-moz-selection {
    background: var(--global-accent-color-dark) !important;
}

* {
    accent-color: var(--global-accent-color-dark) !important;
}

html {
    background-color: black;
}


/* Scrollbars */
* {
    scrollbar-color: transparent transparent !important;
}
*:hover {
    scrollbar-color: var(--global-accent-color) transparent !important;
}