:root, * {
    --in-content-primary-button-background: var(--global-accent-color) !important;
    --in-content-primary-button-background-hover: var(--global-accent-color-dark) !important;
    --in-content-primary-button-background-active: var(--global-accent-color-darker) !important;
    --in-content-background-color: black !important;
    --in-content-page-background: var(--in-content-background-color) !important;
    --focus-outline-color: var(--global-accent-color) !important;

    --toggle-background-color-pressed: var(--global-accent-color) !important;
    --toggle-background-color-pressed-hover: var(--global-accent-color-dark) !important;

    /* new tab page */
    --newtab-primary-action-background: var(--global-accent-color) !important;
    --newtab-textbox-focus-color: var(--global-accent-color) !important;
    .search-handoff-button {
        box-shadow: none !important;
    }
}
