@-moz-document regexp("^https:\/\/.*\.instructure\.com.*$") {
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
    }

    html {
        --ic-brand-primary: var(--site-accent-color) !important;
        --darkreader-bg--ic-brand-primary: var(--site-accent-color) !important;
        --darkreader-bg--ic-brand-button--primary-bgd-darkened-5: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--ic-brand-global-nav-menu-item__text-color--active: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--ic-brand-global-nav-logo-bgd: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--ic-link-color: var(--site-accent-color) !important;
        --darkreader-bg--empSX-activeMenuItemBackground: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--empSX-canvasFocusBoxShadow: 0 0 0 2px
            var(--site-accent-color) !important;
        --darkreader-bg--feqxT-background: var(--site-accent-color) !important;
        --darkreader-bg--feqxT-backgroundHover: var(
            --site-accent-color-dark
        ) !important;
        --darkreader-bg--XOwIb-defaultSelectedBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--XOwIb-defaultSelectedBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--cECYn-colorPrimary: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--sJGfW-activeBackground: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--fQfxa-primaryBackground: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--fQfxa-primaryHoverBackground: var(
            --site-accent-color-dark
        ) !important;
        --darkreader-bg--fQfxa-primaryGhostHoverBackground: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--ceSQR-activeMenuItemBackground: var(
            --site-accent-color
        ) !important;
        --darkreader-bg--ceSQR-canvasFocusBoxShadow: 0 0 0 2px
            var(--site-accent-color) !important;
        --darkreader-border--ic-brand-primary: var(
            --site-accent-color
        ) !important;
        --darkreader-border--ic-brand-primary-lightened-15: var(
            --site-accent-color
        ) !important;
        --darkreader-border--ic-brand-button--primary-bgd-darkened-15: var(
            --site-accent-color
        ) !important;
        --darkreader-border--ic-brand-global-nav-ic-icon-svg-fill--active: var(
            --site-accent-color
        ) !important;
        --darkreader-border--ic-link-color: var(
            --site-accent-color-dark
        ) !important;
        --darkreader-border--ic-link-color-lightened-10: var(
            --site-accent-color
        ) !important;
        --darkreader-border--fbyHH-focusOutlineColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--ceSQR-canvasFocusBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--emSEn-hoverBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--empSX-canvasFocusBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--fQfxa-primaryBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--fOyUs-focusColorInfo: var(
            --site-accent-color
        ) !important;
        --darkreader-border--feqxT-focusRingColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--MlJlv-toggleFocusBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--yyQPt-focusBorderColor: var(
            --site-accent-color
        ) !important;
        --darkreader-border--qBMHb-focusOutlineColor: var(
            --site-accent-color
        ) !important;
        --darkreader-text--ic-brand-global-nav-ic-icon-svg-fill--active: var(
            --site-accent-color
        ) !important;
        --darkreader-text--ic-brand-button--primary-text: white !important;
        --darkreader-text--ic-link-color: var(--site-accent-color) !important;
        --darkreader-text--ic-link-color-darkened-10: var(
            --site-accent-color-dark
        ) !important;
        --darkreader-text--fQfxa-primaryGhostColor: var(
            --site-accent-color
        ) !important;
        --darkreader-text--fbyHH-color: var(--site-accent-color) !important;
        --darkreader-text--fbyHH-hoverColor: var(
            --site-accent-color-dark
        ) !important;
        --darkreader-text--enRcg-brandColor: var(
            --site-accent-color
        ) !important;
        --eHQDY-color: var(--site-accent-color) !important;
    }

    .btn {
        color: var(--darkreader-text--ic-brand-button--primary-text) !important;
    }

    .css-ynb68u-text,
    .css-3akiw1-view-link:is(button) {
        color: var(--site-accent-color-dark) !important;
    }

    /* fix invisible menu item text */
    *[role='menuitem'].ui-state-focus {
        color: white !important;
    }

    /* text input borders */
    .tox .tox-edit-area.active,
    .tox .tox-edit-area.active iframe {
        border-color: var(--site-accent-color) !important;
    }

    /* new activity badge */
    .StickyButton-styles__root {
        background-color: var(--site-accent-color-dark) !important;
    }

    /* focus outlines */
    .css-1mg6tgv-toggleDetails__toggle::before,
    .css-h2cvja-view--inlineBlock-baseButton::before {
        border-color: var(--site-accent-color) !important;
    }
    .css-3akiw1-view-link:is(a):focus {
        outline-color: var(--site-accent-color) !important;
    }

    /* unread badge */
    .css-nriu7q-view--inlineBlock-badge {
        background-color: var(--site-accent-color) !important;
    }
    .css-31gkb3-baseButton__iconSVG path {
        fill: var(--site-accent-color) !important;
    }

    /* buttons */
    .css-g9zl5f-baseButton__content {
        background-color: var(--site-accent-color-dark) !important;
        border-color: var(--site-accent-color) !important;
    }
}
