@-moz-document regexp("^https:\/\/(www|preview)\.duolingo\.com.*$") {
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(var(--site-hue), var(--site-saturation), var(--site-lightness));
        --site-accent-color-dark: hsl(var(--site-hue), var(--site-saturation), calc(var(--site-lightness) - 5%));
        --site-accent-color-darker: hsl(var(--site-hue), var(--site-saturation), calc(var(--site-lightness) - 10%));
    }

    * {
        --web-ui_button-background-color: var(--site-accent-color-dark) !important;
        --web-ui_button-border-color: var(--site-accent-color-dark) !important;
        --web-ui_button-color: var(--site-accent-color-dark) !important;
    }

    .-oI84 {
        color: var(--site-accent-color) !important;
    }

    ._1D8II, .jTP0E, ._3e9O1 {
        color: white !important;
    }

    /* (in)correct bottom banner */
    ._3e9O1 {
        background-color: unset !important;
    }

    /* check button */
    ._3HhhB {
        background-color: var(--site-accent-color-dark) !important;
        color: white !important;
    }
    ._3HhhB::before {
        display: none;
    }

    ._1Zm5f, /* correct icon */
    ._29maR /* report, discuss icons*/ {
        filter: hue-rotate(220deg);
    }

    /* hide super ads */
    a._3E4oM._3jIW4._3zucw,
    div.Ekspr._3ZuGY {
        display: none !important;
    }
}
