@-moz-document url-prefix("https://messages.google.com/web")
{
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
    }

    * {
        --body-bg-color: transparent !important;
        --main-bgcolor: transparent !important;
        --main-nav-host-bg-color: transparent !important;
        --conv-container-host-bg-color: transparent !important;
        --header-bg-color: transparent !important;
        --branded-header-bg-color: transparent !important;
        --list-grey-selected-bg-color: rgba(0, 0, 0, 0.2) !important;
    }

    .input-background {
        background: transparent !important;
    }

    mw-branded-header,
    .main-nav {
        border: none !important;
    }

    .header {
        box-shadow: unset !important;
    }
}
