@-moz-document regexp("^https:\/\/kick.com.*$") {
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
    }

    html {
        --background-color: transparent !important;
    }

    .bg-surface-lower {
        --tw-bg-opacity: 0 !important;
    }

    video {
        border-radius: 10px !important;
    }

    /* remove border from channel list */
    .w-full {
        border-width: 0 !important;
    }

    /* hide volume scrubber head */
    .vjs-volume-level::before {
        content: '' !important;
    }

    /* move channels to the right */
    .main-html
        > div:nth-child(1)
        > div:nth-child(1)
        > div:nth-child(2)
        > div:nth-child(1) {
        order: 1;
    }
}
