@-moz-document regexp("^https:\/\/www.reddit.com.*$") {
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
        --newCommunityTheme-body: black !important;
    }

    /* main background color */
    body,
    .bg-neutral-background {
        background-color: black !important;
    }

    /* logo color */
    path.snoo-cls-10 {
        fill: var(--site-accent-color) !important;
    }
    path:is(.snoo-cls-4, .snoo-cls-7) {
        fill: var(--site-accent-color-darker) !important;
    }

    /* remove advertise button */
    [aria-label='Advertise'] {
        display: none !important;
    }

    /* change card width */
    ._1OVBBWLtHoSPfGCRaPzpTf._3nSp9cdBpqL13CqjdMr2L_ {
        width: 800px !important;
    }

    /* remove premium, links/copyright box */
    ._3RPJ8hHnfFohktLZca18J6,
    ._1oRQu-aolgpPPJDblUGTw5 {
        display: none !important;
    }
}
