@-moz-document regexp("^https:\/\/rumble.com.*$") {
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
    }

    html {
        --color-bg-default: transparent !important;
        --color-bg-featured: transparent !important;
        --darkest: transparent !important;
    }
    .videoPlayer-Rumble-cls {
        &,
        > div {
            background-color: transparent !important;
        }
    }
    .media-theater-container,
    .header-search {
        background-color: transparent !important;
    }

    /* change logo color */
    #rumble-logo__mark-wordmark > path:not(:last-child) {
        fill: white !important;
    }
    #rumble-logo__mark-wordmark > path:last-child {
        fill: var(--site-accent-color) !important;
    }
    .videoPlayer-Rumble-cls
        > div:nth-child(1)
        > div:nth-child(4)
        > div:nth-child(3)
        > div:nth-child(6)
        > div:nth-child(1)
        > svg:nth-child(1)
        > path:first-child {
        fill: var(--site-accent-color) !important;
    }

    /* progress bar */
    .videoPlayer-Rumble-cls
        > div:nth-child(1)
        > div:nth-child(4)
        > div:nth-child(2)
        > div:nth-child(1)
        > div:nth-child(1) {
        > div:nth-child(2) {
            background-color: var(--site-accent-color) !important;
        }
        > div:nth-child(3) {
            background-color: var(--site-accent-color-dark) !important;
        }
    }

    /* hide upload button */
    .header-upload {
        display: none !important;
    }

    /* remove borders */
    #theaterVideoPlayer {
        border-width: 0 !important;
    }

    .verification-badge-icon > path {
        fill: var(--site-accent-color) !important;
    }
    .media-subscribe {
        border-color: var(--site-accent-color) !important;
    }
    .bg-green,
    .rating-bar__fill {
        background-color: var(--site-accent-color) !important;
        border-color: transparent !important;
    }
    .bg-green:hover {
        background-color: var(--site-accent-color-dark) !important;
    }
    .bg-green:active {
        background-color: var(--site-accent-color-darker) !important;
    }
    .comment-toggle-replies {
        color: var(--site-accent-color) !important;
    }
}
