@-moz-document regexp("^https:\/\/(tweetdeck\.)?(x|twitter)\.com.*$") {
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
    }

    body,
    .r-kemksi,
    .r-5zmot {
        background-color: transparent !important;
    }

    div[data-testid="HoverCard"],
    .r-1r851ge,
    .r-11z020y {
        background-color: black !important;
    }

    .r-z32n2g {
        background-color: #00000050 !important;
    }

    .r-1cvl2hr,
    *[style*='color: rgb(29, 155, 240);'] {
        color: var(--site-accent-color) !important;
    }

    .r-l5o3uw,
    *[style*='background-color: rgb(0, 111, 214);'],
    *[style*='background-color: rgb(29, 155, 240);'] {
        background-color: var(--site-accent-color) !important;
        border-color: var(--site-accent-color) !important;
    }

    .r-1vtznih {
        background-color: var(--site-accent-color-dark) !important;
    }

    /* hide premium tab */
    a[aria-label='Premium'] {
        display: none !important;
    }

    a[href='/i/grok'] {
        display: none !important;
    }

    /* hide verified orgs tab */
    a[href='/i/verified-orgs-signup'] {
        display: none !important;
    }

    /* verified badge */
    svg[aria-label='Verified account'] * {
        fill: var(--site-accent-color) !important;
    }

    /* likes */
    div[style*='color: rgb(249, 24, 128);'] {
        color: var(--site-accent-color) !important;
    }

    /* dm selection indicator */
    .r-1pbtemp {
        border-right-color: var(--site-accent-color) !important;
    }

    /* progress spinner */
    div[role='progressbar'] > div > svg > circle {
        stroke: var(--site-accent-color) !important;
    }

    /* logo */
    .r-13gxpu9 {
        color: var(--site-accent-color) !important;
    }

    /* see new tweets */
    .r-yuvema {
        background-color: var(--site-accent-color-dark) !important;
    }

    /* search bar */
    .r-vhj8yc {
        border-color: var(--site-accent-color) !important;
    }

    /* change meatball menu hover background color */
    .r-1peqgm7 {
        background-color: hsla(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness),
            0.2
        ) !important;
    }
    .r-r18ze4 {
        background-color: hsla(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness),
            0.4
        ) !important;
    }

    /* hide ads */
    aside[aria-label='Get Verified'],
    aside[aria-label='Subscribe to Premium'],
    div:has(> div > [aria-label="Stay organized with Bookmark Folders"]) {
        display: none !important;
    }

    /* poll buttons */
    [style*='border-color: rgb(29, 155, 240);'] {
        border-color: var(--site-accent-color) !important;
    }
}
