@-moz-document regexp("^https:\/\/www.twitch.tv.*$") {
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
    }

    .tw-root--theme-dark {
        --color-background-base: transparent !important;
        --color-background-alt: transparent !important;
        --color-background-body: transparent !important;
        --color-background-float: rgba(0, 0, 0, 0.9) !important;

        --color-background-button-primary-default: var(
            --site-accent-color
        ) !important;
        --color-background-button-primary-hover: var(
            --site-accent-color-dark
        ) !important;
        --color-background-button-primary-active: var(
            --site-accent-color-darker
        ) !important;

        --border-width-default: 0 !important;
    }
    .Layout-sc-1xcs6mc-0 > div {
        background-color: transparent !important;
    }

    /* chat background */
    .chat-room {
        background-color: transparent !important;
    }

    /* remove unnecssary buttons/icons */
    .top-nav__prime,
    button[aria-label='Get Bits'] {
        display: none !important;
    }

    video {
        border-radius: 10px !important;
    }
}
