@-moz-document url-prefix("https://www.youtube.com")
{
    :root {
        --site-hue: var(--global-hue);
        --site-saturation: var(--global-saturation);
        --site-lightness: var(--global-lightness);
        --site-accent-color: hsl(
            var(--site-hue),
            var(--site-saturation),
            var(--site-lightness)
        );
        --site-accent-color-dark: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 5%)
        );
        --site-accent-color-darker: hsl(
            var(--site-hue),
            var(--site-saturation),
            calc(var(--site-lightness) - 10%)
        );
    }

    html {
        --primary-color: var(--site-accent-color) !important;
        --paper-checkbox-checked-color: var(--site-accent-color) !important;
    }

    /* links */
    :link {
        --yt-endpoint-color: var(--site-accent-color) !important;
    }

    #progress, /* thumbnail watch progress */
    .ytp-scrubber-button, /* video scrubber */
    .progress-bar-played.ytd-progress-bar-line, /* shorts scrubber */
    .ytp-swatch-background-color,
    .ytp-chrome-controls .ytp-button[aria-pressed]::after /* caption indicator */,
    .ytp-settings-button::after, /* quality indicator */
    .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox, /* checkboxes */
    .badge-style-type-live-now-alternate, /* live indicator */
    .ytp-live-badge[disabled]::before /* live indicator in video controls */ {
        background-color: var(--site-accent-color) !important;
    }

    /* change logo color */
    .ytd-logo svg:nth-child(1) > g:nth-child(1) > path:nth-child(1) {
        fill: var(--site-accent-color) !important;
    }

    /* disable doodles */
    .ytd-topbar-logo-renderer[hidden] {
        display: block !important;
    }
    .ytd-yoodle-renderer {
        display: none;
    }

    /* menu quality indicators */
    .ytp-swatch-color {
        color: var(--site-accent-color) !important;
    }

    /* hide promotions */
    yt-mealbar-promo-renderer {
        display: none !important;
    }

    /* make header transparent */
    * {
        --yt-spec-base-background: transparent !important;
    }

    /* make background transparent */
    html,
    ytd-app,
    #full-bleed-container,
    #container,
    .ytd-playlist-panel-renderer,
    #movie_player {
        background-color: transparent !important;
    }

    /* hide search button */
    #search-icon-legacy {
        display: none;
    }
    #container.style-scope.ytd-searchbox {
        border-radius: 40px !important;
        border: 1px solid var(--ytd-searchbox-legacy-border-color) !important;
    }

    /* hide voice search button */
    #voice-search-button {
        display: none;
    }

    /* hide create button */
    #buttons > ytd-topbar-menu-button-renderer:nth-child(1) {
        display: none !important;
    }

    /* hide join, share, donation buttons */
    #sponsor-button,
    button[aria-label='Thanks'],
    button[aria-label='Share'] {
        display: none !important;
    }

    /* hide channel branding overlay */
    .iv-branding {
        display: none;
    }

    /* hide featured banners */
    #big-yoodle {
        display: none;
    }

    /* make progressbar always visible */
    .ytp-autohide .ytp-chrome-bottom {
        opacity: 0.7 !important;
        visibility: collapse !important;
        transition: visibility 0.1s cubic-bezier(0.4, 0, 1, 1) !important;
    }
    .ytp-autohide .ytp-chrome-bottom > .ytp-progress-bar-container {
        bottom: 0 !important;
        transition: bottom 0.2s cubic-bezier(0.4, 0, 1, 1);
    }
    .ytp-chapters-container {
        visibility: visible !important;
    }
    .ytp-autohide .ytp-play-progress {
        transition: transform linear 1s;
    }

    /* hide View Products overlay */
    button[aria-label='View products'] {
        display: none !important;
    }

    /* round video player */
    video {
        border-radius: 10px !important;
    }

    .ytp-gradient-bottom {
        display: none;
    }
    #movie_player:hover video {
        mask: linear-gradient(to top, transparent, black 100px);
    }

    /* make player size dynamic */
    #player-container,
    video.html5-main-video {
        position: relative !important;
    }
    #full-bleed-container {
        min-height: unset !important;
        max-height: unset !important;
        height: unset !important;
    }
    ytd-player:not(.ytd-shorts) video.html5-main-video {
        left: 0 !important;
        margin: auto !important;
        height: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        max-height: 79vh !important;
        object-fit: contain !important;
    }
    #player-container-inner {
        padding: 0 !important;
    }

    /* hide black shorts background */
    #cinematic-container {
        display: none;
    }
}
