:root {
    --global-hue: var(--system-hue);
    --global-saturation: var(--system-saturation);
    --global-lightness: var(--system-lightness);
    --global-accent-color: hsl(var(--global-hue), var(--global-saturation), var(--global-lightness));
    --global-accent-color-dark: hsl(var(--global-hue), var(--global-saturation), calc(var(--global-lightness) - 5%));
    --global-accent-color-darker: hsl(var(--global-hue), var(--global-saturation), calc(var(--global-lightness) - 10%));

    --in-content-primary-button-background: var(--global-accent-color);
    --in-content-primary-button-background-active: var(--global-accent-color);
    --in-content-primary-button-background-active: var(--global-accent-color);
    --focus-outline-color: var(--global-accent-color) !important;
}
