/* Hide Horizontal Tabs and Titlebar */
vbox#titlebar {
    display: none;
}

/* Hide Vertical Tabs Sidebar Title */
#sidebar-header {
    display: none;
}

/* Hide Foward Button */
toolbarbutton#forward-button {
    display: none;
}

/* Hide Overflow Button */
toolbarbutton#nav-bar-overflow-button > image {
    color: transparent;
}

toolbarbutton#nav-bar-overflow-button:hover > image {
    color: white;
}

/* Hide Star in Omnibox */
hbox#star-button-box {
    display: none;
}

/* Make URL bar taller */
#urlbar {
    top: 0 !important;
    height: 100% !important;
}

#urlbar[breakout][breakout-extend] {
    height: auto !important;
}

#nav-bar {
    border-width: 0 !important;
}

/* Remove white line between Vertical tabs and browser content */
#sidebar-splitter {
    display: none;
}

/* Transparent Elements */
#navigator-toolbox,
#nav-bar,
#nav-bar-customization-target,
#urlbar-container,
#urlbar,
#urlbar-background {
    background-color: transparent !important;
}

#navigator-toolbox-background {
    background: linear-gradient(to right, black 260px, transparent 0);
    appearance: none !important;
    /* remove gtk background color */
}

#navigator-toolbox {
    background-image: unset !important;
}

/* Background Image */
#main-window {
    background-color: black !important;
    background-position: right top !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

#navigator-toolbox {
    border: none !important;
}

/* Remove addressbar outline */
#urlbar-background {
    outline: none !important;
}

/* Sidebar width */
#sidebar-box {
    max-width: 280px;
}

/* make shield grayscale */
#tracking-protection-icon {
    filter: grayscale(1);
}

/* smaller shield/identity/permission boxes */
#tracking-protection-icon-container,
#identity-box > box {
    padding: 0 2px !important;
}

:is(#tracking-protection-icon-container, #identity-box) > box > image {
    width: 13.6px !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

#notification-popup-box {
    height: revert !important;
}

/* hide site icons */
#tracking-protection-icon-container,
#identity-icon-box,
#identity-permission-box {
    visibility: collapse;
}

/* show icons on hover */
#nav-bar:hover
    :is(
        #tracking-protection-icon-container,
        #identity-icon-box,
        #identity-permission-box
    ) {
    visibility: visible;
}

/* show icons when menu open */
#nav-bar:has(box[open='true'])
    :is(
        #tracking-protection-icon-container,
        #identity-icon-box,
        #identity-permission-box
    ) {
    visibility: visible;
}

/* Remove identity box background */
#identity-icon-box:not(:hover) {
    background: unset !important;
}

/* urlbar height */
#urlbar-container {
    --urlbar-container-height: 34px !important;
}

#urlbar {
    --urlbar-toolbar-height: 34px !important;
}

/* addressbar dropdown background */
.urlbarView {
    background-color: rgba(0, 0, 0, 0.9);
}

/* hide addressbar shadow */
#urlbar-background {
    display: none !important;
}

/* remove addressbar go button */
#urlbar-go-button {
    display: none !important;
}

/* make addressbar clickable at top */
#urlbar {
    top: 0 !important;
}

/* Remove space between buttons on address bar */
#urlbar-container {
    margin-left: 0 !important;
}

/* collapsed by default */
#unified-extensions-button,
#nav-bar-overflow-button,
#PanelUI-menu-button {
    visibility: collapse;
}

/* visible when address bar is hovered */
#nav-bar:hover
    :is(
        #unified-extensions-button,
        #nav-bar-overflow-button,
        #PanelUI-menu-button
    ) {
    visibility: visible;
}

/* visible when a menu is open */
#nav-bar:has(toolbarbutton[open='true'])
    :is(
        #unified-extensions-button,
        #nav-bar-overflow-button,
        #PanelUI-menu-button
    ) {
    visibility: visible;
}

/* remove background from zoom indicator */
#urlbar-zoom-button:not(:hover) {
    background: unset !important;
}

/* remove left margin from back button */
#back-button {
    padding-left: 0 !important;
}

/* remove PiP button in address bar */
#picture-in-picture-button {
    display: none;
}
